<footer class="footer py-3">
  <div class="container">
    <div class="f-info-brand">&copy; CinemaHub 2024</div>
    <div class="f-info-terms">privacy & terms</div>
    <div class="f-info-social">
      <a href="https://www.linkedin.com/in/kaif-mohammed-kaif"><img src="/svg/linkedin.svg" height="30px"></a>
      <a href="https://github.com/KaifMohammedKaif"><img src="/svg/github-desktop.svg" class="svg" height="30px"></a>
      <a href="https://t.me/CinematicNewsX"><img src="/svg/telegram.svg" class="svg" height="30px"></a>
    </div>
    <div class="f-info-terms mt-1"><a href="#">back to top</a></div>
  </div>
</footer>
